extends layout

block content
  h1= message
  h2 Booking Requests
  table
    thead
      tr
        each val in header
          th= val
    tbody
      each row in reservations
        tr
          each val in row
            td= val
