doctype html
html.no-js(lang='en-US')
  head
    title Reservations – Nadia's Garden
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='dns-prefetch', href='//fonts.googleapis.com/')
    link#genericons-css(rel='stylesheet', href='../wp-content/plugins/genericons/genericons.css', type='text/css', media='all')
    link#wm-google-fonts-css(rel='stylesheet', href='//fonts.googleapis.com/css?family=Playfair+Display%7CDroid+Serif&subset&ver=2.2.0', type='text/css', media='all')
    link#wm-main-css(rel='stylesheet', href='../wp-content/themes/auberge/assets/css/main.css', type='text/css', media='all')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link#wm-stylesheet-css(rel='stylesheet', href='../wp-content/themes/auberge/style.css', type='text/css', media='all')
    script(type='text/javascript', src='../wp-includes/js/jquery/jquery.js')
  body#top.has-post-thumbnail.is-singular.not-front-page.page.page-id-10.page-template-default
    #page.hfeed.site
      header#masthead.site-header(role='banner', itemscope='', itemtype='https://schema.org/WPHeader')
        .site-header-inner
          .site-branding
            h2.screen-reader-text Reservations – Nadia's Garden
            a#site-title.site-title.logo.type-text(href='../index.html', title="Nadia's Garden", rel='home')
              span.text-logo Nadia's Garden
          nav#site-navigation.main-navigation(role='navigation', aria-labelledby='site-navigation-label', itemscope='', itemtype='https://schema.org/SiteNavigationElement')
            h2#site-navigation-label.screen-reader-text Primary Menu
            #main-navigation-inner.main-navigation-inner
              .menu
                ul
                  li#menu-item-75.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-75
                    a(href='../') Home
                  li#menu-item-76.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-76.active-menu-item
                    a(href='reservations') Reservations
            button#menu-toggle.menu-toggle(aria-controls='site-navigation', aria-expanded='false') Menu
      #content.site-content
        #primary.content-area
          main#main.site-main.clearfix(role='main', itemprop='mainContentOfPage')
            article#post-10.post-10.page.type-page.status-publish.has-post-thumbnail.hentry.entry(role='article', itemscope='', itemtype='https://schema.org/WebPage')
              meta(itemscope='', itemprop='mainEntityOfPage', itemtype='https://schema.org/WebPage')
              .entry-media
                figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                  a
                    img.attachment-large.size-large.wp-post-image(width='632', height='422', src='../wp-content/uploads/2015/08/Interior-184668449-1024x683.jpg', alt="Nadia's Garden Interior shot", srcset='../wp-content/uploads/2015/08/Interior-184668449-1024x683.jpg 1024w, ../wp-content/uploads/2015/08/Interior-184668449-300x200.jpg 300w', sizes='(max-width: 632px) 100vw, 632px')
                    meta(itemprop='url', content='../wp-content/uploads/2015/08/Interior-184668449-1024x683.jpg')
                    meta(itemprop='width', content='true')
                    meta(itemprop='height', content='true')
              header.entry-header
                h1.entry-title(itemprop='headline') Reservations
              .entry-content(itemprop='description')
                p
                  | To make reservations please fill out the following form or call us at 
                  a(href='tel:123-456-7890') 123-456-7890
                  | .
                p
                  | We can host your large private or corporate party! For more information about reserving space for events of 40 people or more, call, fill out or contact form, or come visit us in person.
                .rtb-booking-form
                  form(method='POST', action='../#')
                    input(type='hidden', name='action', value='booking_request')
                    fieldset.reservation
                      legend
                        | Book a table
                      .rtb-text.date
                        label(for='rtb-date')
                          | Date
                        input#rtb-date(type='text', name='rtb-date', value='', required='', aria-required='true')
                      .rtb-text.time
                        label(for='rtb-time')
                          | Time
                        input#rtb-time(type='text', name='rtb-time', value='', required='', aria-required='true')
                      .rtb-select.party
                        label(for='rtb-party')
                          | Party
                        select#rtb-party(name='rtb-party', required='', aria-required='true')
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                          option(value='6') 6
                          option(value='7') 7
                          option(value='8') 8
                    fieldset.contact
                      legend
                        | Contact Details
                      .rtb-text.name
                        label(for='rtb-name')
                          | Name
                        input#rtb-name(type='text', name='rtb-name', value='', required='', aria-required='true')
                      .rtb-text.email
                        label(for='rtb-email')
                          | Email
                        input#rtb-email(type='email', name='rtb-email', value='', required='', aria-required='true')
                      .rtb-text.phone
                        label(for='rtb-phone')
                          | Phone
                        input#rtb-phone(type='tel', name='rtb-phone', value='')
                      .add-message
                        a(href='../##')
                          | Add a Message
                      .rtb-textarea.message
                        label(for='rtb-message')
                          | Message
                        textarea#rtb-message(name='rtb-message')
                    button(type='submit') Request Booking
            aside#secondary.widget-area.sidebar(role='complementary', aria-labelledby='sidebar-label', itemscope='', itemtype='https://schema.org/WPSideBar')
              h2#sidebar-label.screen-reader-text Sidebar
              a#toggle-mobile-sidebar.toggle-mobile-sidebar.button(href='../##', aria-controls='secondary', aria-expanded='false') Toggle sidebar
              #text-4.widget.widget_text
                h3.widget-title Welcome to Nadia’s Garden Restaurant
                .textwidget
                  | Nadia’s Garden Restaurant isn’t just about dining. We’re about creating memorable experiences that our guest will cherish! Our family friendly restaurant has indoor, outdoor, and intimate dining options for any occasion. Our outdoor garden area is perfect for a stroll before or after your meal. We invite you to come dine with us!
          // /#main
        // /#primary
      // /#content
      footer#colophon.site-footer(itemscope='', itemtype='https://schema.org/WPFooter')
        .site-footer-area.footer-area-footer-widgets
          #footer-widgets.footer-widgets.clearfix
            aside#footer-widgets-container.widget-area.footer-widgets-container(role='complementary', aria-labelledby='sidebar-footer-label')
              h2#sidebar-footer-label.screen-reader-text Footer sidebar
              #media_image-3.widget.widget_media_image
                figure.wp-caption.alignnone(style='width: 600px')
                  img.image.wp-image-68.alignnone.attachment-full.size-full(width='600', height='428', src='../wp-content/uploads/2015/08/Exterior-178856892.jpg', alt="Nadia's Garden Restaurant in Carpinteria, California", style='max-width: 100%; height: auto;')
                  figcaption.wp-caption-text Romantic Restaurant
              #widget_contact_info-4.widget.widget_contact_info
                h3.widget-title Hours & Info
                .confit-address
                  a(href='https://maps.google.com/maps?z=16&q=6410+via+real+carpinteria,+ca+93013', target='_blank')
                    | 6410 Via Real
                    br
                    | Carpinteria, CA 93013
                .confit-phone 1-123-456-7890
                .confit-hours
                  | Lunch: 11am - 2pm
                  br
                  | Dinner: M-Th 5pm - 11pm, Fri-Sat:5pm - 1am
    // /#page
    link#rtb-booking-form-css(rel='stylesheet', href='../wp-content/plugins/restaurant-reservations/assets/css/booking-form.css', type='text/css', media='all')
    link#pickadate-default-css(rel='stylesheet', href='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/themes/default.css', type='text/css', media='all')
    link#pickadate-date-css(rel='stylesheet', href='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/themes/default.date.css', type='text/css', media='all')
    link#pickadate-time-css(rel='stylesheet', href='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/themes/default.time.css', type='text/css', media='all')
    script(type='text/javascript', src='../wp-includes/js/imagesloaded.min.js')
    script(type='text/javascript', src='../wp-content/themes/auberge/assets/js/scripts-global.js')
    script(type='text/javascript', src='../wp-content/themes/auberge/assets/js/skip-link-focus-fix.js')
    script(type='text/javascript', src='../wp-includes/js/wp-embed.min.js')
    script(type='text/javascript', src='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/picker.js')
    script(type='text/javascript', src='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/picker.date.js')
    script(type='text/javascript', src='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/picker.time.js')
    script(type='text/javascript', src='../wp-content/plugins/restaurant-reservations/lib/simple-admin-pages/lib/pickadate/legacy.js')
    script(type='text/javascript', src='../javascripts/reservations.js')
    script(type='text/javascript', src='../wp-content/themes/auberge/assets/js/scripts-navigation.js')
    script(type='text/javascript', src='../wp-content/plugins/restaurant-reservations/assets/js/booking-form.js')
